.hbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 1 1 auto;
}

.vbox {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    flex: 1 1 auto;
}

.fbox {
    display: flex;
    flex: 1 1 0;
    flex-wrap: nowrap;
    align-items: stretch;
}

.cbox {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    align-items: stretch;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
.flow1 { flex: 1; }
.flow-full { flex: 1 1 0; } /*full stretchyness, ignore content size*/
.flow-content { flex: 1 0 auto; } /*stretches but will be at least content size*/
.flex-none { flex: 0 0 auto; } /*no stretchyness, stay at content size*/

.flow-start { justify-content: flex-start; }
.flow-end { justify-content: flex-end; }
.flow-center { justify-content: center; }
.flow-spaced { justify-content: space-around; }
.flow-edges { justify-content: space-between; }

.span-start { align-items: flex-start; }
.span-end { align-items: flex-end; }
.span-center { align-items: center; }
.span-stretch { align-items: stretch; }

.ispan-start { align-self: flex-start; }
.ispan-end { align-self: flex-end; }
.ispan-center { align-self: center; }
.ispan-stretch { align-self: stretch; }

.flex-wrap {flex-wrap: wrap;}
.flex-nowrap {flex-wrap: nowrap;}